@font-face {
  font-family: "Ferro";
  src: url("../assets/FerroRosso.ttf");
}

* {
  font-size: 115%;
}





body {
  background: rgb(255,0,0);
  background: linear-gradient(180deg, rgb(224, 18, 18) 0%, rgb(14, 13, 13) 100%);
  margin: 0%;   
  background-repeat: no-repeat;
  background-attachment: fixed;
}


input {
  font-size: 24px;
}



.savecad{
  color: rgb(20, 37, 1);
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  background-color: #ebb4b49f;
  margin-left: 8px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 3px;
}

.ferrari{
  position: absolute;
  top: 300px;
  right: 280px;
  width: 700px;  
}

.ferrarilogo{
  position: absolute;
  top: 325px;
  right: 400px;
  width: 700px;
}

.iniciocad{
  text-decoration: unset;
  color: white;  
  margin-top: 82px;
  margin-left: 8px;
  margin-right: 10px;
}

h6{
  font-family: 'Libre Baskerville', serif;
  color:rgb(14, 13, 13);  
  font-size: 40px;
  margin-left: 20px;

}

.iniciolist{
  text-decoration: unset;
  color: white;  
  margin-top: 82px;
  margin-left: 1820px;
}

.inicio{
  text-decoration: unset;
  color: white;   
  font-size: 30px;
  position: absolute;
  right: 3rem;
  }

p{
  font-weight: bold;
  font-size: 40px;
  font-family: 'Libre Baskerville', serif;
  margin-left: 20px;
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  color: aliceblue;
  border-top: solid;
  border-bottom: solid;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
}

th{
  border-right: solid;
  border-left: solid;
  
}

td{
  border-right: solid;
  border-left: none;
  margin: 5px;
  padding: 5px;

}

tr{
  border-right: solid;
  border-left:solid;
  margin-top: none;
  margin-bottom: none;
  color: aliceblue;
}

tbody{
  margin-top: solid;
  
}

.prod{
  font-size: 80%;
}

form{
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

form input, select{
  width: calc(100% - 4px);
  border: none;
}

form label{
  color: rgb(20, 37, 1);
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  background-color: #ebb4b49f;
  border-bottom: 2px solid rgb(255, 255, 255);
  text-align: center;
}

form input,select{
  margin-bottom: 30px;
}

form div{
  width: 400px;
}

@media screen and (max-width: 720px){
 
  
  header {
    background-color: rgb(255, 255, 255);;
    margin-bottom: 10px;
    
  }

  h1 {
    color: #b60707;
    background-color: rgba(0, 0, 0, 0);
    width: fit-content;
    font-family: Ferro;
    text-align: center;
    margin: 0%;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    padding-top: 5px;
    padding: 5px;
  }
  
  .index {
    color: #771d1d;
    background-color: rgba(235, 178, 178, 0.624);
    text-decoration: unset;
    margin: 3px;
    border-bottom: 3px solid hsl(0, 0%, 90%);
    border-left: 3px solid hsl(0, 0%, 90%);
    padding: 5px;
    border-radius: 10px;
    -webkit-box-shadow: -4px 5px 19px -1px #0000009f;
    box-shadow: -4px 5px 19px -1px #0000009f;   
  }

  .listbox {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    margin-top: 25px;
    margin-left: 15px;
    font-family: "Kanit", sans-serif;
    font-size: 15px;
  }
  
  .formbox {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    margin-top: 25px;
    margin-left: 15px;
    font-family: "Kanit", sans-serif;
    font-size: 15px;

  }
}
.ferrari{
  position: absolute;
  top: 300px;
  right: 280px;
  width: 700px;  
  opacity: 0;
}

@media screen and (min-width: 720px) and (max-width: 1024px){
  .index {
    color: #771d1d;
    background-color: rgba(235, 178, 178, 0.624);
    text-decoration: unset;
    margin: 7.5px;
    border-bottom: 2px solid hsl(0, 0%, 90%);
    border-left: 2px solid hsl(0, 0%, 90%);
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: -4px 5px 19px -1px #0000009f;
    box-shadow: -4px 5px 19px -1px #0000009f;   
  }
  
  
  
  header {
    background-color: rgb(255, 255, 255);;
    margin-bottom: 50px;
  }

  h1 {
    color: #b60707;
    background-color: rgba(0, 0, 0, 0);
    width: fit-content;
    font-family: Ferro;
    text-align: center;
    margin: 0%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    padding-top: 5px;
    padding: 10px;
  }
  .listbox {
    display: flex;
    width: fit-content;
    height: 100%;
    margin-top: 25px;
    margin-left: 15px;
    font-family: "Kanit", sans-serif;
    font-size: 15px;
  }
  
  .formbox {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    margin-top: 25px;
    margin-left: 15px;
    font-family: "Kanit", sans-serif;
    font-size: 15px;

  }

  .ferrari{
    position: absolute;
    top: 250px;
    right: 70px;
    width: 500px;  
    opacity: 1;
}
}

@media screen and (min-width: 1024px){
  .index {
    color: #771d1d;
    background-color: rgba(235, 178, 178, 0.624);
    text-decoration: unset;
    margin: 10px;
    border-bottom: 3px solid hsl(0, 0%, 90%);
    border-left: 3px solid hsl(0, 0%, 90%);
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: -4px 5px 19px -1px #0000009f;
    box-shadow: -4px 5px 19px -1px #0000009f;   
  }
  
  header {
    background-color: rgb(255, 255, 255);;
    margin-bottom: 50px;
  }

  h1 {
    color: #b60707;
    background-color: rgba(0, 0, 0, 0);
    width: fit-content;
    font-family: Ferro;
    text-align: center;
    margin: 0%;
    margin-left: auto;
    margin-right: auto;
    font-size: 100px;
    padding-top: 10px;
  }
  .listbox {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-left: 15px;
    font-family: "Kanit", sans-serif;
  
  }
  
  .formbox {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    margin-top: 25px;
    margin-left: 15px;
    font-family: "Kanit", sans-serif;
  }

  .ferrari{
    position: absolute;
    top: 350px;
    right: 225px;
    width: 800px;  
    opacity: 1;
}
}